body {
	font-family: "lucida grande", helvetica, verdana, sans-serif;
	font-size: .8em;
	line-height: 1.6em;
	margin: .6em;
	padding: 0px;
	background: #ffffff;
}

// id elements //

// Wrapper not displayed by the browser //
#wrapper {
	width: 750px;
	position: absolute;
	left: 50%;
	margin-left: -375?px;	
	//border: solid 1px #cccccc;
}

#container {
	width: 750px;
	position: absolute;
	left: 50%;
	margin-left: -375px;
	//border: solid 1px #cccccc;
}


#header {
	//background: #3d5070;
	color: #bdbdbd;
	margin: 0px;
	padding: 0px;
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
}

#navigation {
	width: 100%;
	background: #ffffff;
	color: #bdbdbd;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 0px;
	padding: 0px;
}

#navigation ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#navigation li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #cccccc;
	list-style: none;
  }

#navigation li.last {
	border-right: 0px;
} 

#content {
	color: #424242;
	border-top: 0px;
	margin: 0px;
	background: #ffffff;
	padding-left: .2em;
	padding-top: 0px;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}

#sidebar {
	float: right;
	width: 25%;
	padding: .2em;
	margin: 0px;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #fffffff;
	text-align: left;
}

#footer {
	clear: both;
	width: 100%;
	text-align: center;
}

#content li {
	margin: .4em;
}


a, a:link, a:visited {
	color: #007137;
}

a, a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
}
	
h1, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 2.4em;
	font-weight: bold;
}

h2 {
	font-size: 1.8em;
	padding: .4em;
	padding-bottom: .8em;
}

h3 {
	font-size: 1.4em;
}

h2, h3 {
	color: #007137;
}

h4 {
	font-weight: bold;
}

h5 {
	text-align: right;
	margin-top: 1em;
}

p {
	text-indent: 3em;
	padding: .4em;
}

// classes

.calendar {
	width: 100%;
}

.left {
	float: left;
}

.right {
	text-align: right;
}

.blog li {
	list-style: none;
	border-bottom: 1px dotted #999;
	padding-right: 2em;	
	margin-right: 2em;
	width: 90%;
}

.hide {
	display: none;
}

.aboutbox {
	border: 1px solid #999;
	width: 3.8em;
}

.aboutbox:hover {
	border: 1px solid #7a1e1e;
}

#sidebar ul {
	margin: 0px;
}

#sidebar li {
	list-style: none;
	margin: .1 em;
}

#footer li {
	list-style: none;
	display: inline;
	margin-right: .5em;
}
// class elements //




/*

header or link color (medium blue): 11629a
medium gray color: 898989
light gray (for borders): e0e0bb
light gray-ish cream (content bg): fcfbf6
light gray for header titles: 999
brown color (borders): d8d1a7
nick is cool


*/