html, body {
	background : #bbeecc;
	background : #fff;
	line-height : 1.5em;
	color : #000;
}

#doc {
	margin-top : 2em;
}

#hd {
	border : 1px solid #c9c9c9;
	background : #fff;
}

h1 {
	background : url('../images/small-logo.png') no-repeat .25em .25em;
	height : 3.2667em;
	padding-left : 3.7667em;
	padding-top : .7423em;
	font-size : 232%;
	line-height : 1em;
	color : #0D6212;
}

h1 span {
	display : block;
}

#navigation {
/*	float : right;*/
	margin : 0 auto;
	text-align : center;
	width : 100%;
}

#navigation li {
/*	float : left;*/
	display : inline;
	padding : .25em;
	margin-left : .25em;
}

#navigation li a {
	font-size : 123.1%;
}

a {
	color : #0D6212;
}

a:hover {
	text-decoration : none;
	background : #77bb44;
	color : #fff;
}

strong {
	font-weight : bold;
}

#bd {
	background : #fff;
	color : #000;
	border-left: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	padding-left : .25em;
}

h2 {
	width : 50%;
	border-bottom : 1px solid #0D6212;
}

p {
	margin-bottom : 1.4615em;
	margin-right : .25em;
}

#blog img {
	padding-right : .25em !important;
	padding-bottom : 1em !important;
}

#blog .date, .date {
	font-size : 77%;
	text-indent : 0;
	margin-top : 0;
	margin-bottom : 0;
}

.more {
	margin-top : -1.4615em;
}

#youtube h2 {
	margin-bottom : .25em;
}

#sidebar {
	border-left : 1px solid #c9c9c9;
	border-bottom : 1px solid #c9c9c9;
	padding-left : .25em;
}

#tweets {
}

#tweets h2 {
/*	background : url('../images/twitter.png') no-repeat 0 50%;
	text-indent : 2.7115em;
	padding-top : 1.3558em;
	height : 2em;*/
}

.tweet p {
	font-size : 77%;
	color : #ccc;
	margin-bottom : 0;
}

.tweet {
	margin-bottom : 1.4615em;
}

.download {
	margin-top :.25em;
	margin-bottom : 1.4615em;
	border-bottom : 1px solid #0D6212;
}

.download img {
	border : 1px solid #c9c9c9;
	background : #B9ff8d;
	float : left;
	margin-right : .25em;
}

.filename {
	padding-top :.5em;
}

.filename a {
	font-size : 123.1%;
}

#ft {
	margin-top : 1.4615em;
	text-align : center;
}

#ft ul {
	margin : 0 auto;
	float : left;
}

#ft li {
	float : left;
	margin-right : 1em;
}

#ft p {
	float : right;
}


#sermon_list {
/*	float : right;*/
}
#sermon_list li {
	display : inline;
	margin-right : .6115em;
}

#sermons_filter {
	float : right;
	margin-bottom : -2.462em;
}

#sermons {
	border : 1px solid #c9c9c9;
	border-collapse : collapse;
	width : 100%;
	*width : auto;
}

#sermons .odd {
	background : #E0FFDA;
}

#sermons col {
	border : 1px solid #c9c9c9;
}

#sermons th {
	font-weight : bold;
}

#sermons td {
	padding-left : .3055em;
}